<p>
  <mat-toolbar color="primary">
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="openContactDialog('test')"
    >
      <mat-icon>menu</mat-icon>
      <!-- Sélection de la vue -->
    </button>
    <span>EcoTrans'It</span>
    <span class="top-bar-spacer"></span>
    <!-- no need ?
        <button
      mat-icon-button
      class="example-icon favorite-icon"
      aria-label="Example icon-button with heart icon"
    >
      <mat-icon>favorite</mat-icon>
    </button>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      <mat-icon>share</mat-icon>
    </button>
    -->
  </mat-toolbar>
</p>

<div id="vizContainer" style="display: flex; justify-content: center"></div>

<!-- <google-chart [type]="GeoChart" [columns]="chartColumns" [data]="data"></google-chart> -->
